@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

::selection {
  background-color: #1f1d1c;
  color: #ffffff;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

button {
  cursor: pointer;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "Cinzel", sans-serif;
  color: #1f1d1c;
}

p,
span {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

h3 {
  font-size: 1.3em;
}

iframe {
  z-index: 1;
}

.header {
  width: 100%;
  height: 4em;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  justify-content: center;
  background-color: #1f1d1c;
  color: #ffffff;
  padding: 0 2em;
  position: sticky;
  top: 0;
  z-index: 3;
  border-bottom: 0.15em solid rgba(255, 255, 255, 0.1176470588);
  white-space: nowrap;
  overflow: hidden;
}
.header__logo {
  width: 100%;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #eead31;
  font-weight: 400;
}
.header__nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.header__btn {
  display: none;
}
.header__menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.header__item {
  padding: 0 1em;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 500;
}
.header__link {
  color: #ffffff;
  transition: color 1s ease;
}
.header__link:hover {
  color: #eead31;
  transition: color 0.2s;
}
.header__span {
  font-size: 0.9em;
  font-weight: 300;
}

.main {
  background-color: #1f1d1c;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  overflow-x: hidden;
}

.container {
  width: 100%;
  min-height: 40em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.container::before {
  content: "";
  position: absolute;
  background-color: rgba(31, 29, 28, 0.8039215686);
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.container > img,
.wrapper > img {
  position: absolute;
  background-color: gray;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 35em;
  height: 100%;
  z-index: 2;
  color: #ffffff;
  gap: 2em;
}

.headings {
  border-top: 0.15em solid #eead31;
  width: 20%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em 0 0;
  white-space: nowrap;
}

.intro__headings {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 0.3em solid #eead31;
  border-bottom: 0.3em solid #eead31;
  padding: 1.5em 0;
}
.intro__h1 {
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 500;
}
.intro__h2 {
  font-size: 1.3em;
  font-family: "Raleway", sans-serif;
}

.intro__list,
.about__list,
.footer__list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0.5em 1em;
  font-size: 1.2em;
  font-weight: 700;
  color: #ffffff;
  background-color: transparent;
  border-radius: 0.2em;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  transition: all 1s;
  user-select: none;
}
.btn:hover {
  transition: all 0.2s;
  background-color: #ffffff;
  color: #1f1d1c;
}
.btn:active {
  background-color: red;
  color: #ffffff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.gallery__wrapper {
  position: relative;
  overflow: hidden;
  transition: all 1s;
}
.gallery__wrapper::before {
  content: "";
  position: absolute;
  background-color: rgba(31, 29, 28, 0.8039215686);
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.gallery__wrapper:hover {
  transition: all 0.2s;
  color: #eead31;
}
.gallery__wrapper:hover .gallery__img {
  transition: all 0.2s;
  transform: scale(1);
  filter: brightness(1.2);
}
.gallery__headings {
  z-index: 2;
  border-top: 0.15em solid #eead31;
  border-bottom: 0.15em solid #eead31;
  width: 20%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em 0;
}
.gallery__img {
  transform: scale(1.1);
  transition: all 1s;
}

.contact__h2 {
  white-space: nowrap;
}
.contact__form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
}
.contact__input {
  width: 100%;
  text-align: center;
  border-bottom: 0.01em solid #eead31;
  padding: 0.3em 1em;
  font-family: "Raleway", sans-serif;
  outline: none;
}
.contact textarea {
  height: 8em;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 2em;
  align-items: start;
  justify-content: center;
}

.mate {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}
.mate__picture {
  width: 100%;
  height: 12em;
  overflow: hidden;
}
.mate__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mate__info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.mate__span {
  font-size: 0.9em;
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.service {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1em;
}
.service__number {
  border: 0.15em solid #ffffff;
  height: 3em;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.2em;
}

.news__list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.news__item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
}
.news__picture {
  width: 100%;
  height: 12em;
  overflow: hidden;
}
.news__img {
  background-color: gray;
  height: 100%;
  object-fit: cover;
}

.add__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8em;
  text-align: center;
}

.offers__item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.offers__span {
  text-align: start;
}

.footer__social {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
.footer__legal {
  color: #eead31;
  font-weight: 600;
}

@media (max-width: 868px) {
  h2 {
    white-space: pre-wrap;
  }
  .header {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: 1em;
    overflow: visible;
    position: relative;
  }
  .header__span {
    grid-area: 1/2;
    text-align: center;
  }
  .header__nav {
    justify-content: flex-end;
  }
  .header__menu {
    display: none;
  }
  .header__item {
    padding: 0 0.2em;
  }
  .header__btn {
    display: flex;
    color: #ffffff;
  }
  .open {
    display: flex;
    position: absolute;
    top: 3em;
    right: 0;
    background-color: #1f1d1c;
    width: 40%;
    height: 20em;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-flow: column nowrap;
    padding-right: 1em;
    font-size: 1.2em;
  }
}
@media (max-width: 425px) {
  .wrapper {
    width: 100%;
    max-width: 20em;
  }
  .container {
    padding: 2em 0;
  }
  .gallery {
    grid-template-columns: 1fr;
  }
  .gallery__wrapper {
    height: 12em;
    width: 100%;
    max-width: unset;
  }
  .team__mates,
  .services__grid,
  .offers__grid,
  .news__item {
    grid-template-columns: 1fr;
  }
  .add__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*# sourceMappingURL=index.css.map */
